.create {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  h1 {
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  input {
    padding: 10px 20px;
    width: 320px;
    outline: none;
    border: none;
    border-radius: 10px;
    caret-color: brown;
  }
  input::placeholder {
    color: rgba(94, 61, 48, 0.306);
    font-size: 16px;
  }
  button {
    width: 120px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: brown;
    font-size: 16px;
    font-weight: 600;
  }
}
